<p-growl [(value)]="cornerMessage" life="5000"></p-growl>

<h3 class="page-title">Calls History</h3>

<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<div [hidden]="toggleLoading" class="container uk-animation-slide-top-small">

  <app-search (searchCanceled)="getAllCalls()" [hidden]="toggleLoading" (searchValue)="searchByValue($event)"
              [placholder]="'Please type customer name or phone number...'"></app-search>

  <div class="uk-card uk-card-default">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <p-messages [(value)]="warningMessage"></p-messages>
      </div>
    </div>

    <app-call-table [calls]="calls"></app-call-table>

  </div>
</div>

