<div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4>{{header}}</h4>
</div>
<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form *ngIf="!toggleLoading" autoComplete="off" #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid? saveUserPassword():void(0);">

  <div class="modal-body">

    <div class="form-group">
      <label>New Password :</label>
      <input type="password" class="form-control" placeholder="New Password"
             name="newPassword" [(ngModel)]="model.password" required>
      <em *ngIf="editForm.submitted && editForm.controls?.newPassword.invalid">
        <i class="fa fa-exclamation-triangle"></i>This field is required!
      </em>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">close</button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
