<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Release Item</h4>
</div>

<form *ngIf="!toggleLoading" autoComplete="off" #releaseForm="ngForm" autocomplete="off"
      (ngSubmit)="releaseForm.valid && confirm(data)">

  <div class="modal-body">

    <div class="form-group">
      <label>Quantity :</label>
      <input type="number" class="form-control" placeholder="please type Quantity ..." name="currentAmount" [(ngModel)]="data.currentAmount"
             required>
      <em
        *ngIf="releaseForm.submitted && releaseForm.controls?.currentAmount?.invalid"><i
        class="fa fa-exclamation-triangle"></i>This
        field is required!</em>
    </div>

    <div class="modal-footer">
      <button class="btn" (click)="activeModal.dismiss()">close</button>
      <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
  </div>
</form>

