@import "../../../assets/stylesheets/color-theme";

.admin-upload-resources {
  .salary, .item {
    background-color: $borderColor;
    //margin-bottom: 25px;
    padding: 15px;
    box-sizing: content-box;
    margin-bottom: 15px;
    border: 1px solid $borderColor;
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
      border: 1px solid $accentColor;
    }
  }
  .salary {
    margin-bottom: 35px;
  }
}
