<p-growl [(value)]="msg" [life]="5000"></p-growl>

<h3 class="page-title">Administration panel</h3>
<div class="container">
  <div class="uk-card uk-card-default">

    <div class="row tabs">
      <div class="col-md-offset-1 col-md-10">
        <ul class="uk-child-width-expand" uk-tab>
          <li (click)="setActiveTab('data')" class="uk-active"><a href="#">Data</a></li>
          <li (click)="setActiveTab('users')"><a href="#">Manage Users</a></li>
          <li (click)="setActiveTab('settingDispatchers')"><a href="#">Setting Dispatchers</a></li>
          <li (click)="setActiveTab('assign-tec')"><a href="#">Assign Technicians</a></li>
          <li (click)="setActiveTab('upload')"><a href="#">Upload resources</a></li>
        </ul>
      </div>
    </div>

    <div class="row uk-animation-fade" [hidden]="activeTab != 'data'">
      <div class="col-md-offset-1 col-md-10">
        <ul uk-accordion="multiple: false" class="accordion-header">
          <li *ngFor="let item of items" [ngClass]="applyDefaultActiveClass(item)">
            <h4 class="uk-accordion-title sub-title" (click)="getData(item)">{{item}}</h4>
            <div class="uk-accordion-content">
              <app-simple-admin-content [type]="item" [getData]="getDataForType"></app-simple-admin-content>
            </div>
          </li>
        </ul>

      </div>
    </div>

    <div class="row uk-animation-fade" [hidden]="activeTab != 'users'">
      <div class="col-md-offset-1 col-md-10">
        <app-admin-users [getData]="getUserDataFlag"></app-admin-users>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'settingDispatchers'">
      <div class="col-md-offset-1 col-md-10">
        <app-setting-dispatchers></app-setting-dispatchers>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'assign-tec'">
      <div class="col-md-offset-1 col-md-10">
        <app-assign-tec></app-assign-tec>
      </div>
    </div>

    <div class="row uk-animation-fade" *ngIf="activeTab == 'upload'">
      <div class="col-md-offset-1 col-md-10">
        <app-admin-upload-resources></app-admin-upload-resources>
      </div>
    </div>

  </div>
</div>


