<div class="search-section uk-card uk-card-default">
  <div class="row">
    <form #searchForm="ngForm" name="searchForm" class="search-form" novalidate autocomplete="off"
          (submit)="searchForm.valid && outPutSearchValue(searchForm)">
      <div class="search-bar-container col-md-offset-1 col-md-8">
        <button (click)="clearSearch()" [hidden]="!searchText || !hideFromTo" type="button" class="cancel-button"><i
          class="fa fa-close"></i> cancel search
        </button>
        <input type="text" [(ngModel)]="searchText" name="searchText"
               [placeholder]="placholder"
               class="form-control seachBar">

        <div [hidden]="hideFromTo" style="display: block">

          <!--<app-date-from-to [required]="false" [submitted]="submitted"></app-date-from-to>-->
          <div class="col-md-6">
            <label>From Date:</label>
            <input type="date" [(ngModel)]="fromDate" name="fromDate"
                   class="form-control seachBar">
          </div>
          <div class="col-md-6">
            <label>To Date:</label>
            <input type="date" [(ngModel)]="toDate" name="toDate"
                   class="form-control seachBar">
          </div>

        </div>

      </div>
      <div class="col-md-2">
        <button (click)="toggleErrorFlag()" type="submit" class="btn btn-add button"><i class="fa fa-search"
                                                                                        aria-hidden="true"></i>
          Search
        </button>
        <button (click)="clearSearch()" type="button" class="btn btn-dark btn-reset button" [hidden]="hideFromTo"
                style="margin-top: 20px"><i class="fa fa-trash-o"
                                            aria-hidden="true"></i>
          reset
        </button>
      </div>
    </form>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-md-12 text-center">-->
  <!--<em *ngIf="searchForm.submitted && errorFlag && searchForm.controls?.searchText.invalid"><i-->
  <!--class="fa fa-exclamation-triangle"-->
  <!--aria-hidden="true"></i>-->
  <!--Please type to start-->
  <!--searching-->
  <!--</em>-->
  <!--</div>-->
  <!--</div>-->
</div>
