form {
  margin-top: 35px;
  .tec-dropdown {
    width: 200px;
  }
  .tec-dropdown ~ .search-btn {
    margin-top: 25px;
  }
  .search-btn {
    //display: block;
    width: 100px;
  }
}

.tabs {
  cursor: pointer;
}
